/* body coloring, size and font */
body {
  font-family: Comic Sans MS, Comic Sans, cursive, fantasy;
  font-size: 16px;
  line-height: 1;
}

/* text area can hold an unlimited number of characters */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* coloring and alignment*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 0;
}

.description {
  white-space: pre-wrap;
}

/* alignment of time block */
.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* backgound and font color for times of the day */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* color for times of the day that have already pasted */
.past {
  background-color: #ff6961;
}

/* color for the currnet hour you are in */
.present {
  background-color: yellow;
}

 /* color for the future hours of the day */
.future {
  background-color: #664cda;
  /* background-color: #77dd77; */
}

/* coloring and sizing of save button Did not add  border for better styling*/
.saveBtn {
  border: none;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* sizing and lightens the save button when hovering over it */
.saveBtn:hover {
  background-color: #0cc6f0;
  font-size: 20px;
  transition: all 0.2s;
}

.saveBtn:active,
.custom-btn:active {
  background-color: #067e99;
}

/* sizing for the date */
#currentDay {
  font-size: 200%;
}
